<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">JS World</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
        </li>

        <% if(locals.user){ %>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Add Blogs</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= locals.user.fullName %>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Log Out</a></li>
          </ul>
        </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" href="/user/sign-up">Create Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" href="/user/sign-in">Sign In</a>
          </li>
        <% } %>
      </ul>

      <% if(locals.user){ %>
      <!-- Profile Image positioned at the right -->
      <div class="d-flex ms-auto align-items-center">
        <img class="rounded-circle" style="width: 60px;" src="<%= locals.user.profileImage %>" alt="<%= locals.user.fullName %>" />
      </div>
      <% } %>

    </div>
  </div>
</nav>

<% if(locals.error){ %>
  <div class="alert alert-danger" role="alert">
    <%= locals.error %>
  </div>
<% } %>
